<div class="langlist_main">
    <div class="lang_btn">
      <img src="../../assets/images/python-svgrepo-com.svg" alt="">
      <h4>Python</h4>
    </div>
    <div class="lang_btn">
      <img src="../../assets/images/java-logo-svgrepo-com.svg" alt="">
      <h4>Java</h4>
    </div>
    <div class="lang_btn">
      <img src="../../assets/images/icons8-c-programming.svg" alt="">
      <h4>C</h4>
    </div>
    <div class="lang_btn">
      <img src="../../assets/images/cpp-svgrepo-com.svg" alt="">
      <h4>C++</h4>
    </div>
    <div class="lang_btn">
      <img style="transform: translate(0,10px);" src="../../assets/images/javascript-logo-svgrepo-com.svg" alt="">
      <h4>JavaScript</h4>
    </div>
    <div class="lang_btn">
      <img src="../../assets/images/typescript-logo-svgrepo-com.svg" alt="">
      <h4>TypeScript</h4>
    </div>
    <div class="lang_btn">
      <img src="../../assets/images/php-svgrepo-com.svg" alt="">
      <h4>PHP</h4>
    </div>

</div>